body {
    display: flex;
    justify-content: center;
    margin-top: 15vh;
}

table {
    width: 600px;
    height: 400px;
    text-align: center;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid black;
} 


#titulo, #campos  {
    color: white;
    background-color: #2d8f2f;
}
